<!-- Header : le menu de navigation -->
<header>
    <nav style="text-align: center;">
        <ul style="list-style-type: none; padding: 0; margin: 0; display: inline-block;">
            <li style="display: inline; margin-right: 20px;"><a href="{% url 'home' %}" style="color: purple; font-weight: bold; text-decoration: none;">Accueil</a></li>
            <li style="display: inline; margin-right: 20px;"><a href="{% url 'poemes' %}" style="color: purple; font-weight: bold; text-decoration: none;">Poèmes</a></li>
            <li style="display: inline; margin-right: 20px;"><a href="{% url 'memoire' %}" style="color: purple; font-weight: bold; text-decoration: none;">Mémoire</a></li>
            <li style="display: inline;"><a href="{% url 'apropos' %}" style="color: purple; font-weight: bold; text-decoration: none;">À Propos</a></li>
        </ul>
    </nav>
</header>
<body>
    <!-- Introduction -->
    <section>
        <h1 style="color: purple; font-weight: bold;text-align: center;"><br>Bienvenu.e sur La-traversée !</h1>
        <p>Bienvenue sur le site de <strong>La Traversée</strong>, un projet qui explore l'histoire, la culture, et les émotions à travers des vidéos, des poèmes et une mémoire de master. Ce site a pour but de vous offrir un aperçu des différentes facettes de ce projet créatif et académique.</p>
    </section>
    
    <section>
        <h2 style="color: purple; font-weight: bold;">À propos de La Traversée</h1>
        <p>
            <strong>La Traversée</strong> est un projet de poèmes et de spectacle. 
            Il a été créé à partir du mémoire de master <em>Un récit de l'Histoire du Brésil : 
            Analyse d'un manuel scolaire d'une perspective décoloniale</em>, soutenu en juillet 2023, 
            à l'Université Sorbonne Nouvelle, à Paris.
        </p>
        <p>
            L'objectif du projet est d'imaginer les subjectivités des femmes portugaises qui sont allées au Brésil 
            pendant la période de colonisation.
        </p>
    </section>

    <!-- Informations sur Ana Isnardis -->
    <section>
        <h2 style="color: purple; font-weight: bold;">Ana Isnardis</h1>
            <p>Ana Isnardis est artiste, chercheuse et éducatrice. Elle est titulaire d'une maîtrise en études lusophones de l'Université Sorbonne Nouvelle et d'un diplôme en sciences du langage et théâtre de l'Université Lumière Lyon 2 et de l'Université fédérale du Minas Gerais (UFMG), au Brésil.</p>
        <p>Une des fondatrices du collectif pluridisciplinaire JUS, Ana Isnardis est également percussionniste au Cabaret Gandaia, groupe de musique de carnaval de rue à Paris. Sur son blog Analu, créé avec l'artiste Luiza Pacheco, elles partagent des textes et des créations audiovisuelles.</p>
        <p>Ana a travaillé comme éducatrice artistique pendant huit ans, toujours intéressée par les pédagogies alternatives. Née et élevée à Belo Horizonte, Brésil, elle découvre actuellement de nouveaux horizons et vit depuis quatre ans à Paris.</p>
        <p><strong>Basée à Paris</strong></p>
        <p><strong>Email :</strong> <a href="mailto:aisnardis@gmail.com">aisnardis@gmail.com</a></p>
    </section>
</body>
</html>
