<!-- Header : le menu de navigation -->
<header>
    <nav style="text-align: center;">
        <ul style="list-style-type: none; padding: 0; margin: 0; display: inline-block;">
            <li style="display: inline; margin-right: 20px;"><a href="{% url 'home' %}" style="color: purple; font-weight: bold; text-decoration: none;">Accueil</a></li>
            <li style="display: inline; margin-right: 20px;"><a href="{% url 'poemes' %}" style="color: purple; font-weight: bold; text-decoration: none;">Poèmes</a></li>
            <li style="display: inline; margin-right: 20px;"><a href="{% url 'memoire' %}" style="color: purple; font-weight: bold; text-decoration: none;">Mémoire</a></li>
            <li style="display: inline;"><a href="{% url 'apropos' %}" style="color: purple; font-weight: bold; text-decoration: none;">À Propos</a></li>
        </ul>
    </nav>
</header>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mémoire</title>
</head>
<body>
    <h1 style="color: purple; font-weight: bold; padding: 10px;">Mémoire</h1>
    
    <p>Ce mémoire de recherche propose une analyse du manuel scolaire <em>Buriti Mais História: 4º ano</em>, le livre le plus utilisé dans les écoles publiques brésiliennes entre les années 2019 et 2022 pour cette matière au cours de cette année scolaire. L'analyse a cherché à comprendre comment l'Histoire du Brésil est racontée à l'école, puisque, selon la Base Nationale des Programmes Scolaires (BNCC), c'est au cours de la quatrième année d'école (équivalente au CM2 en France) que l'on commence à enseigner la formation du Brésil.</p>
    
    <p>La théorie directrice de cette analyse est celle de Linda Tuhiwai Smith, ainsi que les travaux de Jean Morisset, Thiago Ávila et Fernando Nicolazzi. Dans ce travail, nous avons également contextualisé la loi 11.645/08, qui inclut les cultures autochtones brésiliennes dans le programme scolaire. Nous nous sommes également consacrée à la contextualisation du champ éditorial des manuels scolaires au Brésil, en présentant l'arrivée des grandes maisons d'édition espagnoles en Amérique latine.</p>
    
    <p>Le livre analysé est pensé comme un élément qui maintient le continuum du processus de colonisation au Brésil, contribuant à l'invisibilisation des cultures et des savoirs autochtones brésiliens. Pour élargir les possibilités et imaginer d'autres manières de produire un manuel scolaire, nous présenterons quelques exemples extraits du manuel <em>Histoire de l'Angola pour le CM2</em>, publié en 2018. Au cours de l'analyse, des objets artistiques (illustrations, peintures, poèmes, etc.) de différents artistes autochtones brésiliens seront également présentés.</p>
    
    <p>L'objectif est de présenter des œuvres qui pourraient faire partie d'un manuel scolaire d'histoire brésilien de CM2, offrant aux élèves la possibilité d'avoir un contact avec la diversité culturelle, linguistique et épistémique existant au Brésil aujourd'hui.</p>
    
    <p><strong>Mots-clés :</strong> Manuel scolaire ; Enseignement d'Histoire ; Théorie décoloniale ; Éducation brésilienne.</p>
</body>
</html>
